<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
    <!--
   container for metadata(is not displayed on the page
    -->
</head>
<body>
<b>Welcome to Java Developer Course</b>

<h1 align="center" style="color: blue">Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>
<h4>Spring Boot</h4>
<h5>Spring Boot</h5>

<img src="springboot.png" alt="Spring Boot Image">

<ul>
    <li>Java</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="https://google.com">Google</a>

<hr>

<table>
    <tr>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Msa</td>
        <td>Sma</td>
        <td>100000</td>
    </tr>
</table>
<br>
<label for="username">Username</label>
<input type="text" name="username" id="username">
<label for="password">Password</label>
<input type="password" name="password" id="password">
<br>
<label for="comments">Enter your comment</label>
<textarea name="comments" id="comments"></textarea>

<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other

<label>Please select your course</label>
<input type="checkbox" name="course" value="spring">Spring
<input type="checkbox" name="course" value="DS">DS
<input type="checkbox" name="course" value="Java">Java

<label>Please select your program</label>
<select>
    <option value="us_sdet">US SDET</option>
    <option value="eu_sdet">EU SDET</option>
    <option value="us_jd">US JD </option>
    <option value="us_al">US AL</option>
</select>

<form action="#" method="get">
    Firstname: <input type="text" name="first_name">
    <br>
    Lastname: <input type="text" name="last_name">
    <br>
    <input type="button" value="submit">
</form>

<div style="background-color: aqua">
    <h3>JAVA DEVELOPER COURSE</h3>
    <ul>
        <li>SPRING</li>
        <li>DATA STRUCTURE</li>
    </ul>
</div>


</body>
</html>